body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background:papayawhip;

    /* rgb is red green and blue and that a controls tranparency */
    color: rgba(0, 0, 255,0.25);
}

p{
    color: #0000FF;
    
}